# Списки хостов подключаемых к проверке дисков разделены и записаны в 2 переменных.
# Такая запись обусловлена тем, что программа не умеет распознавать, где подключен adaptec.
# Утилита smartctl используется только на UNIX-серверах, и где не подключен adaptec.


# Список хостов для проверки smartctl записан в словарь, где
# ключ - имя хоста, значение - имя пользователя при подключении к хосту

SMARTCTL_HOSTS = {
    'host1': 'user1',
    'host2': 'user2',
    'host3': 'user3',
}

# Список хостов для проверки Adaptec записан в словарь, где
# ключ - имя хоста, значение - имя пользователя при подключении к хосту

ADAPTEC_HOSTS = {
    'host4': 'user4',
    'host5': 'user5',
    'host6': 'user6',
}
